.checkbox{
    width:20px;
    height: 20px;
    margin-top: 30px;
    margin-right:10px;
}
.main-from{
    /* width: 80%; */
    border: 3px solid rgba(241, 241, 241, 0.692);
    padding:30px;
    /* margin:0 auto; */
    border-radius:5px;
    box-shadow: 1px 1px 5px gray;
}
.input-box{
    width: 100%;
    border:none;
    padding:25px;
    background:  transparent;
    border-bottom: 2px solid rgba(128, 128, 128, 0.664);
 }
  .input-button{
    width: 100%;
    padding:15px;
}
::-webkit-input-placeholder{
    color: black;
    font-size:20px;
}
.auth-provider{
    display: flex;
    align-items: center;
    border:1px solid lightgray;
    border-radius:50px;
    padding:12px;
    box-shadow: 1px 1px 5px gray;
     cursor: pointer;
}