body{
    height: 800px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}
.logo{
    height: 60px;
   filter: brightness(800%);
}
.nav-item {
  margin-left: 40px;
}
.input-fild{
    border: 2px dotted white;
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    background:transparent;
    background:rgba(207, 203, 203, 0.356);
    color: white;
}
::-webkit-input-placeholder{
    color: white;
}
.travel-img{
    width: 100%;
    margin-top: 20px;
    transition: transform .1s;
}
.travel-img:hover{
 transform: scale(1.08);
 border: 2px solid orange;
}
.booking-aria{
    margin-top: 120px;
}
.place-name{
    color: white;
    position: absolute;
    top: 80%;
    width: 90%;
    text-align: center;
    font-size: 30px;

}
.booking-btn{
    padding: 20px 40px 20px 40px;
}
.login-btn{
    padding: 10px 30px 10px 30px;
}